---
---

@import "{{ site.theme }}";

body {
    background-color: #FFFFED;
}

h1 a {
    color: black;
    font-size: 10 px;
}

.markdown-body {
    font-family: "Georgia", "Garamond", serif;
}

.container-lg {
    max-width: 700px;
}
