---
---

@import "{{ site.theme }}";

body {
    font-size: 120% !important;
    background-color: #FFFFED;
}

h1 a {
    color: black;
    font-size: 16px;
}

.markdown-body {
    font-family: "Palatino", "Georgia", "Garamond", serif;
}

.container-lg {
    max-width: 700px;
}
